<!-- public/index.html -->
<!doctype html>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IFSP - Pirituba</title>
</head>
<body>
    <img src="./image/logo_ifsp.png">
    <h1>Aluno do IFSP, bem-vindo ao <%=nome %></h1>

    <a href="/contatos">Contatos</a>
    <ul>
        <li><a href="/contatos/1">Contato: 1</a></li>
        <li><a href="/contatos/2">Contato: 2</a></li>
        <li><a href="/contatos/3">Contato: 3</a></li>
    </ul>

    <a href="/cursos">Cursos</a>
    <ul>
        <li><a href="/cursos/1">Curso: 1</a></li>
        <li><a href="/cursos/2">Curso: 2</a></li>
        <li><a href="/cursos/3">Curso: 3</a></li>
    </ul>
</body>
</html>